<!DOCTYPE html>
<html lang="en">


<head>
  <title>About</title>
  <link rel="shortcut icon" type="image/png" href="/image/weather.png" />
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">

    {{>header}}
    <img class="portrait" src="/image/img-1.jpg">
    <p>this small web-app created by map and weather free api just for trying express js and nodejs</p>
  </div>

  {{>footer}}
</body>

</html>